body {
    background-color: #0F0F0F;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    z-index: 1;
}
div#upper {
    padding: 10px 20px;
    background: linear-gradient(24deg, #005B41, #008170 100%);
    color: white;
    box-shadow: 0 0 1em rgb(0, 0, 0);
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div#container {
    width: 100%;
    height: fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div#content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.slot {
    padding: 20px;
    border: 10px groove #005B41;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    width: 200px;
    height: 200px;
    text-align: center;
    background: linear-gradient(180deg, lightgrey 0%,white 25%,white 75%, lightgray 100%);
    z-index: 1;
    border-right: 1px solid #0F0F0F;
    border-left: 1px solid #0F0F0F;
}
.win {
    animation: win .4s linear infinite;
}
@keyframes win {
    50% {
        background: linear-gradient(180deg, lightgray 0%,rgb(202, 248, 198) 60%, #83afa9 120%); 
    }
}
div#down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label#saldo {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.63);
    background-color: black;
}
input#amount {
    background-color: #232D3F;
    color: white;
    width: 5em;
    text-align: center;
    padding: 10px;
    outline: none;
    margin: 5px;
    border-radius: 2px;
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div#buttons {
    display: flex;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
}
button#buttRoll {
    width: 100%;
    bottom: 10px;
    background: linear-gradient(200deg, #005B41, #008170 100%);
    padding: 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 150%;
    margin: 5px;
}
button:hover {
    cursor: pointer;
}
div#down label {
    color: white;
}
img#icon {
    filter: invert();
    position: fixed;
    left: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
button.changeAmount{
    display: inline-block;
    color: white;
    background: none;
    border: 1px solid #008170;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;

}
div#values {
    display: flex;
    align-items: center;
}
div#help {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #0F0F0F;
    z-index: 2;
    justify-content: center;
    align-items: center;
    color: white;
}
div#table p {
    font-style: italic;
    color: #8a8a8a;
}
div#help div#table {
    background-color: #0F0F0F;
    width: 90%;
    height: 90%;
    text-align: center;
}
div.tableItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0081705e;
    border-left: 3px solid #005B41;
    margin: 15px;
    padding: 10px;
}
button#close {
    width: 90%;
    background: linear-gradient(200deg, #005B41, #008170 100%);
    padding: 20px;
    border-radius: 1em;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 150%;
}
button#buttHelp, button#buttReset {
    border-radius: 15px;
    background: linear-gradient(140deg, #005B41, #008170 100%);
    padding: 30px;
    width: 20%;
    outline: none;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 5px;
}
button#buttHelp img, button#buttReset img {
    height: 30px;
    width: 30px;
    filter: invert();
}
img.spin {
    animation: spin .2s ease-in-out infinite;
}
img.spinImg {
    width: 50px;
}
@keyframes spin {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(200%);
    }
}
@keyframes spinFinish {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0%);
    }
}